language: ruby
rvm: '2.0.0'

before_install: 
  - sudo apt-get update -qq 
  - sudo apt-get install -qq postgresql-server-dev-9.4.0

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres

script: 
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - bundle exec createdb namegame_development
  - bundle exec createdb namegame_test
  - bundle exec rspec spec

addons:
  code_climate:
    repo_token: e08a3d2f8f0f661b13a8c50f7b395a63c54eaa14f875ba81374cbe0642f92ed8